<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title>Fast Parking System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
	  <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-database.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= render 'shared/header' %>
        <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
